@import url(./__section/root__section.css);

.root {
display: flex;
flex-direction: column;
width: 1600px;
height: 100%;
background: #F0F3FF;
font-family: 'Arial';

}

@media screen and (max-width: 1024px) {
  .root {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  margin: auto;
  }
}
